

* {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* General body styling */
body {
  background-color: whitesmoke;
}

header h1 {
  font-size: 200pt;
  font-family: "antiquarian-scribe", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Styling for image containers */
.image-container {
  position: relative;
  display: inline-block; /* Ensures the images are inline */
  margin: 20px; /* Adds spacing between images */
}

/* Styling the images */
.image-container img {
  width: 450px;
  height: auto;
  display: block;
}

.homelink{
  text-align: center;
  font-size: 50px;
  color: black;
  font-family: "antiquarian-scribe", sans-serif;
  text-decoration: none;
  cursor: pointer;
}

.homelink:hover{
  color: rgb(223, 21, 21);
}

.img {
  position: fixed;
 width: 100%;
 height: auto;
}

.image { 
  position: absolute;
  translate: -50% -50%;
  transition: scale .15s;
  filter: invert(1);
  mix-blend-mode: difference;
}
.image:hover {
  scale: 2;
  z-index: +1;
}
.image img {
  width: 20vmin;
  height: auto;
  aspect-ratio: 1;
  object-fit: contain;
}
